body {
	background: #fff;
	color: #434455;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.4;
}

ul,
ol {
	list-style-type: none;
}

ul,
a {
	text-decoration: none;
}

/* header */

.top-line {
	flex-shrink: 0;
	background: var(--WHITE, #fff);
	justify-content: center;
}

.logo {
	color: var(--IRIS, #4d5ae5);
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.54px;
	text-transform: uppercase;
}

.logo-span {
	color: var(--NAVY-BLUE, #2e2f42);
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.54px;
	text-transform: uppercase;
}

.nav {
}

.nav-list-link {
	color: var(--SLATE, #2e2f42);
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.32px;
}

.nav-list-link:hover,
.nav-list-link:focus {
	color: var(--OCEAN, #404bbf);
	font-weight: 500;
}

.contacts {
	font-style: normal;
}

.address {
	color: var(--SLATE, #434455);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.32px;
}

.address:hover,
.address:focus {
	color: var(--OCEAN, #404bbf);

	font-size: 16px;

	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.32px;
}

/*Hero*/

.hero {
	flex-shrink: 0;
	background: var(--NAVY-BLUE, #2e2f42);
}

.hero-title {
	color: var(--WHITE, #fff);
	text-align: center;
	font-size: 56px;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: 1.12px;
}

.hero-button {
	background: var(--IRIS, #4d5ae5);
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #ffffff;
	cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
	background-color: #404bbf;
}

/* Section 1 - Advantages*/

.advan {
	flex-shrink: 0;
	text-align: center;
}

.advan-name {
	color: var(--NAVY-BLUE, #2e2f42);

	font-size: 20px;

	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.4px;
}

.advan-text {
	color: var(--SLATE, #434455);

	font-size: 16px;

	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.32px;
}

.advan-item {
	padding-bottom: 32px;
	justify-content: center;
}

/* Section 2 - Team */

.team {
	flex-shrink: 0;
	background: var(--CLOUD, #f4f4fd);
}

.team-title {
	color: var(--NAVY-BLUE, #2e2f42);
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.72px;
	text-transform: capitalize;
}

.team-item {
	padding-bottom: 32px;
	background: var(--WHITE, #fff);
}

.team-item-name {
	color: var(--NAVY-BLUE, #2e2f42);
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.4px;
}

.team-item-desc {
	color: var(--SLATE, #434455);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.32px;
}

/* Section 3 - Portfolio */

.port {
	flex-shrink: 0;
}

.port-title {
	color: var(--NAVY-BLUE, #2e2f42);
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.72px;
	text-transform: capitalize;
}

.port-item {
	padding-bottom: 32px;
	flex-shrink: 0;
}

.port-item-name {
	color: var(--NAVY-BLUE, #2e2f42);
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.4px;
}

.port-item-desc {
	color: var(--SLATE, #434455);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.32px;
}

/* Footer */

.footer {
	background: var(--NAVY-BLUE, #2e2f42);
}

.footer-text {
	color: var(--CLOUD, #f4f4fd);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.32px;
}

.footer-logo-span {
	color: #f4f4fd;
}
